html {
  background: url("../assets/img/bg/Background-about.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

.about-container {
  position: fixed;
  width: 70%;
  top: calc(50% + 40px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.about-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.about-photo {
  width: 70%;
  max-width: 400px;
  margin: 0 -6rem 0 2rem;
}

.about-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 0 2rem 0;
}

.about-text {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 0 0 2rem 0;
}

@media screen and (max-width: 992px) {
  .about-photo {
    display: none;
  }
}

@media screen and (max-width: 1600px),
(max-height: 700px) {
  .about-title {
    font-size: 2.5rem;
  }

  .about-text {
    font-size: 1.1rem;
  }

  .about-photo {
    width: 60%;
  }
}

@media screen and (max-width: 1200px),
(max-height: 600px) {
  .about-title {
    font-size: 3rem;
  }

  .about-text {
    font-size: 1.2rem;
  }

  .about-photo {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) and (max-height: 600px) {
  .about-title {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .about-photo {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .about-content {
    flex-direction: row;
  }

  .about-title {
    font-size: 2.2rem;
  }

  .about-text {
    margin-left: 30px;
  }

  .about-photo {
    margin-left: -20%;
  }
}

@media screen and (max-width: 600px),
(max-height: 450px) {
  .about-container {
    width: 90%;
  }

  .about-photo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .about-title {
    font-size: 1.8rem;
  }

  .about-text {
    font-size: 1rem;
  }
}