#services-top {
  -webkit-background-color: black;
  -moz-background-color: black;
  -ms-background-color: black;
  -o-background-color: black;
  background-color: black;
  -webkit-background-image: url("../assets/img/bg/container-top.webp");
  -moz-background-image: url("../assets/img/bg/container-top.webp");
  -ms-background-image: url("../assets/img/bg/container-top.webp");
  -o-background-image: url("../assets/img/bg/container-top.webp");
  background-image: url("../assets/img/bg/container-top.webp");
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-position: 0% 0%;
  -moz-background-position: 0% 0%;
  -ms-background-position: 0% 0%;
  -o-background-position: 0% 0%;
  background-position: 0% 0%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-padding-top: 17rem;
  -moz-padding-top: 17rem;
  -ms-padding-top: 17rem;
  -o-padding-top: 17rem;
  padding-top: 17rem;
  -webkit-padding-left: 10rem;
  -moz-padding-left: 10rem;
  -ms-padding-left: 10rem;
  -o-padding-left: 10rem;
  padding-left: 10rem;
  -webkit-padding-right: 10rem;
  -moz-padding-right: 10rem;
  -ms-padding-right: 10rem;
  -o-padding-right: 10rem;
  padding-right: 10rem;
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
}

/* media query 690px */
@media screen and (max-width: 690px) {
  #services-top {
    -webkit-padding-top: 10rem;
    -moz-padding-top: 10rem;
    -ms-padding-top: 10rem;
    -o-padding-top: 10rem;
    padding-top: 10rem;
    -webkit-padding-left: 2rem;
    -moz-padding-left: 2rem;
    -ms-padding-left: 2rem;
    -o-padding-left: 2rem;
    padding-left: 2rem;
    -webkit-padding-right: 2rem;
    -moz-padding-right: 2rem;
    -ms-padding-right: 2rem;
    -o-padding-right: 2rem;
    padding-right: 2rem;
  }
}

.gallery-title {
  -webkit-font-size: 3rem;
  -moz-font-size: 3rem;
  -ms-font-size: 3rem;
  -o-font-size: 3rem;
  font-size: 3rem;
  -webkit-font-weight: bold;
  -moz-font-weight: bold;
  -ms-font-weight: bold;
  -o-font-weight: bold;
  font-weight: bold;
  -webkit-color: white;
  -moz-color: white;
  -ms-color: white;
  -o-color: white;
  color: white;
  -webkit-margin-bottom: 3rem;
  -moz-margin-bottom: 3rem;
  -ms-margin-bottom: 3rem;
  -o-margin-bottom: 3rem;
  margin-bottom: 3rem;

}


.gallery-title-services {
  -webkit-margin-bottom: 3rem;
  -moz-margin-bottom: 3rem;
  -ms-margin-bottom: 3rem;
  -o-margin-bottom: 3rem;
  margin-bottom: 3rem;
}


#gallery {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
  -webkit-background-color: black;
  -moz-background-color: black;
  -ms-background-color: black;
  -o-background-color: black;
  background-color: black;
  -webkit-padding-left: 7vw;
  -moz-padding-left: 7vw;
  -ms-padding-left: 7vw;
  -o-padding-left: 7vw;
  padding-left: 7vw;
  -webkit-padding-right: 7vw;
  -moz-padding-right: 7vw;
  -ms-padding-right: 7vw;
  -o-padding-right: 7vw;
  padding-right: 7vw;
  z-index: -10;
}

#services {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
  -webkit-background-color: black;
  -moz-background-color: black;
  -ms-background-color: black;
  -o-background-color: black;
  background-color: black;
  -webkit-padding-left: 7vw;
  -moz-padding-left: 7vw;
  -ms-padding-left: 7vw;
  -o-padding-left: 7vw;
  padding-left: 7vw;
  -webkit-padding-right: 7vw;
  -moz-padding-right: 7vw;
  -ms-padding-right: 7vw;
  -o-padding-right: 7vw;
  padding-right: 7vw;
}

#gallery-bottom {
  -webkit-background-color: black;
  -moz-background-color: black;
  -ms-background-color: black;
  -o-background-color: black;
  background-color: black;
  -webkit-background-image: url("../assets/img/bg/container-bottom.webp");
  -moz-background-image: url("../assets/img/bg/container-bottom.webp");
  -ms-background-image: url("../assets/img/bg/container-bottom.webp");
  -o-background-image: url("../assets/img/bg/container-bottom.webp");
  background-image: url("../assets/img/bg/container-bottom.webp");
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-position: 0% 100%;
  -moz-background-position: 0% 100%;
  -ms-background-position: 0% 100%;
  -o-background-position: 0% 100%;
  background-position: 0% 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-padding-bottom: 17rem;
  -moz-padding-bottom: 17rem;
  -ms-padding-bottom: 17rem;
  -o-padding-bottom: 17rem;
  padding-bottom: 17rem;
  -webkit-padding-left: 10rem;
  -moz-padding-left: 10rem;
  -ms-padding-left: 10rem;
  -o-padding-left: 10rem;
  padding-left: 10rem;
  -webkit-padding-right: 10rem;
  -moz-padding-right: 10rem;
  -ms-padding-right: 10rem;
  -o-padding-right: 10rem;
  padding-right: 10rem;
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
}

.gallery-item {
  -webkit-min-width: 400px;
  -moz-min-width: 400px;
  -ms-min-width: 400px;
  -o-min-width: 400px;
  min-width: 400px;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
}

.gallery-item .price {
  -webkit-font-size: 2rem;
  -moz-font-size: 2rem;
  -ms-font-size: 2rem;
  -o-font-size: 2rem;
  font-size: 2rem;
  -webkit-margin-bottom: 1rem;
  -moz-margin-bottom: 1rem;
  -ms-margin-bottom: 1rem;
  -o-margin-bottom: 1rem;
  margin-bottom: 1rem;
}

.gallery-item .model {
  -webkit-font-size: 1.5rem;
  -moz-font-size: 1.5rem;
  -ms-font-size: 1.5rem;
  -o-font-size: 1.5rem;
  font-size: 1.5rem;
  -webkit-margin-bottom: 1rem;
  -moz-margin-bottom: 1rem;
  -ms-margin-bottom: 1rem;
  -o-margin-bottom: 1rem;
  margin-bottom: 1rem;
}