#services-top {
  background-color: black;
  background-image: url("../assets/img/bg/container-top.webp");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
  padding-top: 17rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

/* media query 690px */
@media screen and (max-width: 690px) {
  #services-top {
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.gallery-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 3rem;

}


.gallery-title-services {
  margin-bottom: 3rem;
}


#gallery {
  align-items: center;
  text-align: center;
  background-color: black;
  padding-left: 7vw;
  padding-right: 7vw;
}

#services {
  align-items: center;
  text-align: center;
  background-color: black;
  padding-left: 7vw;
  padding-right: 7vw;
}

#gallery-bottom {
  background-color: black;
  background-image: url("../assets/img/bg/container-bottom.webp");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: contain;
  padding-bottom: 17rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.gallery-item {
  min-width: 400px;
  align-items: center;
  text-align: center;
}

.gallery-item .price {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.gallery-item .model {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}