#bg-video {
  z-index: -1;
  max-width: 110vh;
  height: 100%;
  position: absolute;
  top: -73.5%;
  right: 0;
  padding-top: 9rem;
  transform: translateY(50%);
}

.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.header-bg {
  background-color: black;
  background-image: url("../assets/img/bg/CONTAINER-NEGRO.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  min-height: 480px;
  z-index: 0;
  clip-path: polygon(calc(106vw - 2.1 * 60vh) 0, calc(106vw - 2 * 60vh) 60%, calc(106vw - 2.1 * 60vh) 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(calc(106vw - 2.1 * 60vh) 0, calc(106vw - 2 * 60vh) 60%, calc(106vw - 2.1 * 60vh) 100%, 0 100%, 0 0);
}

.header-text {
  margin-left: 2%;
}

.title-1 {
  margin-bottom: -2vmin;
  font-size: 3rem;
}

.title-2 {
  font-size: 7rem;
  font-weight: bold;
}

.welcome-text {
  font-size: 1.5rem;
}

/* media query for 1600px */
@media screen and (max-width: 1600px) {
  .title-1 {
    margin-bottom: -2.2vmin;
    font-size: calc(3rem / 1.3);
  }

  .title-2 {
    font-size: calc(7rem / 1.3);
  }

  .welcome-text {
    font-size: calc(1.5rem / 1.3);
    max-width: 20vw;
  }
}

@media (max-width: 1500px) {
  #bg-video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80vw;
    max-width: 900px;
    transform: none;
    z-index: 100;
    padding: 0;
    margin: 0;
    transform: translateX(-50%) translateY(450px);
  }

  .header-bg {
    /* background: rgba(0, 0, 0, 0.5); */
    clip-path: none;

  }

  .header-text {
    margin-left: auto;
  }

  .masthead {
    height: 1200px !important;

  }

  .header-text {
    margin: 0;
    text-align: center;
    justify-content: center;
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .button-container {
    justify-content: center;
  }

  .title-1 {
    text-align: center;
    font-size: 2rem;
  }

  .title-2 {
    text-align: center;
    font-size: 5rem;
  }

  .header-col {
    width: 100%;
  }

  .welcome-text {
    text-align: center;
    max-width: 100%;
    font-size: 1.5rem;
  }

  .rent-button {
    justify-content: center;
  }
}



@media (max-width: 790px) {
  .title-2 {
    font-size: 4rem;
  }

  .welcome-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  #bg-video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80vw;
    max-width: 900px;
    transform: none;
    z-index: 100;
    padding: 0;
    margin: 0;
    transform: translateX(-50%) translateY(420px);
  }

  .masthead {
    height: 100vh !important;
  }

  #gallery-bottom {
    margin: 0%;
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: 100%;
  }

  #gallery-bottom h3 {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #bg-video {
    top: -29%;
    max-width: 90%;
  }

  .title-1 {
    font-size: 1rem;
  }

  .title-2 {
    font-size: 3.5rem;
    width: 100%;
  }

  .header-text {
    width: 100%;
    padding: 0;
  }

  .header-col {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.rent-button {
  margin-left: 3%;
  border: none;
  padding: 1.6% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.8rem + 0.3vw);
  animation: shake 0.8s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  font-family: "EgyptienneBold";
  min-width: 80px;
}

.rent-button:hover {
  animation: none;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.rent-button a {
  color: var(--bs-dark);
  text-decoration: none;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(1deg);
  }

  20% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-1deg);
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(-2deg);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}