/* --------------- header-container ------------------- */

.header-container {
  display: flex;
  flex-direction: column-reverse;
}

/* --------------- bg-video ------------------- */
#bg-video {
  z-index: -1;
  width: 60vw;
  max-width: 110vh;
  height: 100%;
  position: absolute;
  top: -73.5%;
  right: 0;
  padding-top: 9rem;
  transform: translateY(50%);
}

@media (max-width: 800px) {
  #bg-video {
    position: absolute;
    top: -30%;
    left: 50%;
    width: 80vw;
    max-width: 900px;
    transform: none;
    z-index: 100;
    padding: 0;
    margin: 0;
    transform: translateX(-50%) translateY(450px);
  }
}

@media (max-width: 650px) {
  #bg-video {
    position: absolute;
    top: -32%;
    left: 50%;
    width: 80vw;
    max-width: 900px;
    transform: none;
    z-index: 100;
    padding: 0;
    margin: 0;
    transform: translateX(-50%) translateY(420px);
  }
}

@media (max-width: 500px) {
  #bg-video {
    top: -29%;
    max-width: 90%;
  }
}

/* -------------- play-button ------------------- */

.play-button {
  position: absolute;
  top: 105px;
  right: 0.2%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 200;
  background-color: white;
  border-radius: 50%;
  padding-right: 2px;
}

@media (max-width: 800px) {
  .play-button {
    top: 600px;
    right: 140px;
  }
}

@media (max-width: 500px) {
  .play-button {
    top: 500px;
    right: 12%;
  }
}

/* --------------------- mute-button ----------------------- */

.mute-button {
  position: absolute;
  top: 140px;
  right: 0.2%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 200;
  background-color: white;
  border-radius: 50%;
  padding-right: 2px;
}

@media (max-width: 800px) {
  .mute-button {
    top: 600px;
    right: 100px;
  }
}

@media (max-width: 500px) {
  .mute-button {
    top: 500px;
    right: 1%;
  }
}

/* --------------------- header-bg --------------------------- */
.header-bg {
  background-color: black;
  background-image: url("../assets/img/bg/CONTAINER-NEGRO.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  min-height: 480px;
  z-index: 0;
  --middle: 36%;
  --tip: calc(var(--middle) + 50px);
  clip-path: polygon(0 0,
      var(--middle) 0,
      var(--tip) 50%,
      var(--middle) 100%,
      0 100%);
  /* clip-path: polygon(106px 0, calc(106vw - 2 * 60vh) 60%, calc(106vw - 2.1 * 60vh) 100%, 0 100%, 0 0); */
  /* -webkit-clip-path: polygon(calc(106vw - 2.1 * 60vh) 0, calc(106vw - 2 * 60vh) 60%, calc(106vw - 2.1 * 60vh) 100%, 0 100%, 0 0); */
}

@media (max-width: 800px) {
  .header-bg {
    /* background: rgba(0, 0, 0, 0.5); */
    height: 100vh;
    clip-path: none;
  }
}


/* ----------------------- header-text ------------------------- */
.header-text {
  margin-left: 2%;
}

@media (max-width: 800px) {
  .header-text {
    margin-left: auto;
    margin: 0;
    text-align: center;
    justify-content: center;
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 500px) {
  .header-text {
    width: 100%;
    padding: 0;
  }
}

/* -------------------- header-col ------------------------------ */

@media screen and (min-width: 1600px) and (max-height: 1000px) {
  .header-col {
    width: 60% !important;
  }
}

@media (max-width: 800px) {
  .header-col {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header-col {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* -------------------- title-1 ------------------------------ */

.title-1 {
  margin-bottom: -1vmin;
  font-size: 3rem;
}

@media screen and (max-width: 1600px) {
  .title-1 {
    margin-bottom: -1.2vmin;
    font-size: 2.5vw;
  }
}

@media (max-width: 800px) {
  .title-1 {
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .title-1 {
    font-size: rem;
  }
}

/* -------------------- title-2 ------------------------------ */

.title-2 {
  font-size: 7rem;
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  .title-2 {
    font-size: 5.5vw;
  }
}

@media screen and (max-width: 1200px) {
  .title-2 {
    font-size: 6vw;
  }
}

@media (max-width: 800px) {
  .title-2 {
    text-align: center;
    font-size: 5rem;
  }
}

@media (max-width: 790px) {
  .title-2 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .title-2 {
    font-size: 3.5rem;
    width: 100%;
  }
}


/* ------------------ welcome-text ---------------------------- */

.welcome-text {
  font-size: 1.5rem;
}

@media screen and (max-width: 1600px) {
  .welcome-text {
    font-size: 1.5vw;
    max-width: 25vw;
  }
}

@media screen and (max-width: 1200px) {
  .welcome-text {
    font-size: 1.9vw;
  }
}

@media (max-width: 800px) {
  .welcome-text {
    text-align: center;
    max-width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 790px) {
  .welcome-text {
    font-size: 1.2rem;
  }
}

/* --------------- masthead ------------------ */
@media (max-width: 800px) {
  .masthead {
    height: 100vh !important;
  }
}

@media (max-width: 650px) {
  .masthead {
    height: 100vh !important;
  }
}

/* --------------- button-container -------------- */

@media (max-width: 800px) {
  .button-container {
    justify-content: center;
  }
}

/* ---------------- gallery-bottom ---------------- */
@media (max-width: 650px) {

  #gallery-bottom {
    margin: 0%;
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: 100%;
  }

  #gallery-bottom h3 {
    width: 100%;
  }
}



/* ------------------ rent-button --------------- */

.rent-button {
  margin-left: 3%;
  border: none;
  padding: 1.6% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.8rem + 0.3vw);
  animation: shake 0.8s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  font-family: "EgyptienneBold";
  min-width: 120px;
}

.rent-button:hover {
  animation: none;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.rent-button a {
  color: var(--bs-dark);
  text-decoration: none;
}

@media (max-width: 800px) {
  .rent-button {
    justify-content: center;
  }
}


/* ---------------- animation -------------------- */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(1deg);
  }

  20% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-1deg);
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(-2deg);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}