.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

/* media query for 960px */
@media (max-width: 992px) {
  #navbarResponsive {
    margin-top: 30px;
  }
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  height: 126px;
  top: 0 !important;
}